body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Change from center to flex-start */
  height: 100vh;
  min-height: 100%;
  margin: 0;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

#game-container {
  text-align: center;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 1rem 0;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
  min-width: 48px; /* Ensure minimum width of the buttons */
  min-height: 48px; /* Ensure minimum height of the buttons */
}

button:hover {
  background-color: #45a049;
}

hr {
  margin: 2rem 0;
}

/* Mobile-friendly styles */
@media (max-width: 600px) {
  body {
    align-items: flex-start;
  }

  #game-container {
    padding: 1rem;
  }

  button {
    font-size: 18px; /* Increase font size */
    padding: 15px 30px; /* Increase padding */
    margin: 1rem 0; /* Add more margin around the buttons */
    min-width: 64px; /* Ensure larger minimum width of the buttons for better touch targets */
    min-height: 64px; /* Ensure larger minimum height of the buttons for better touch targets */
  }
}

/* Add support for light/dark theme */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
  }

  #game-container {
    background-color: #1e1e1e;
  }

  /* Update the text color for headings, paragraphs, and buttons */
  #game-container h1,
  #game-container h2,
  #game-container p,
  button {
    color: #f0f0f0;
  }

  button {
    background-color: #5c5c5c;
  }

  button:hover {
    background-color: #696969;
  }
}
